body{
    display: block;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(58, 57, 57);
    justify-content: center;
}
header{
    background-color: rgb(93, 16, 238);
    display: block;
   width: 100vw;
   text-align: center;
   margin-top: 0%;

}
footer{
    background-color: rgb(93, 16, 238);
   display: block;
   position: fixed;
   bottom: 0;
   width: 100vw;
   text-align: center;
   padding: 0%;
}
.select{
    border-radius: 3%;
    display: flex;
    width: 30%;
    height: 30%;
    background-color: rgb(93, 16, 238);
    justify-content: center;
    align-items: center;
    padding: 0%;
}
main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;;
}
.imagens{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}